$blue: #0796D3;
$black: rgba(0, 0, 0, 0.54);
$primary-blue: #0796D3;
$secondary-blue: #53C0F0;
$third-blue: #A0DCF6;
$gray: #D7DDE9;
$primary-gray: #E7EEFB;
$secondary-gray: #EAECF0;
$third-gray: #F7F9FD;
$four-gray: #B0BBD1;
$red: #D30707;
$secondary-red: #F05353;