@import "../../styles/variables.module.scss";
@import "../../styles/mixins";

.listStaks {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;

    >p {
        font-size: 16px;
        font-weight: 400;
        color: $black;
    }

    .msg {
        text-decoration: underline;
    }
}

.formCreate {

    display: flex;
    flex-direction: column;
    gap: 32px;

    h2 {
        font-size: 24px;
        font-weight: 500;
    }

    >p {
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
    }

    .buttons {
        display: flex;
        width: 100%;
        gap: 16px;
    }
}

@include mobile {
    .buttons {
        flex-wrap: wrap;
    }
}